@font-face {
    font-family: 'Nuckle';
    src:  url('./fonts/nuckle_bold_web.ttf') format('ttf'),
    url('./fonts/nuckle_book_web.ttf') format('woff'),
    url('./fonts/nuckle_semibold_web.ttf') format('woff');
}

body{
    font-family: Nuckle, Fallback, sans-serif;
}

/********** GENERAL **********/
.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    grid-row-gap: 0;
    overflow-x: hidden;
}
.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.header, .works, .works-content-div, .images, .community, .grin{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.general-title{
    color: #00da6b;
    font-weight: 600;
    font-size: 30px;
}

.general-text{
    font-size: 18px;
    line-height: 1.7;
}

@media screen and (max-width: 769px) {
    .header, .works, .works-content-div, .images, .community, .grin{
        flex-direction: column;
    }
    .download-app-text{
        display: none;
    }
}